body {
  font-family: 'Slabo 27px', sans-serif;
  background-color: #C84127;
}

header {
  background-color: #3d2117;
  height: 90px;
  padding: 0 25px;
  border-bottom: 5px solid #67C5C2;
  color: #FEFCE8;
}

header h1 a {
  text-decoration: none;
  color: inherit;
  font-size: 90px;
  float: left;
}

header h1 a:hover {
  color: #C84127;
}

header nav {
  margin-top: 4px;
  float: right;
}

nav li {
  display: inline-block;
  padding: 33px 10px;
}

nav a {
  color: #FEFCE8;
  text-decoration: none;
}

nav li:hover {
  background-color: #FEFCE8;
  color: #3d2117;
  text-decoration: none;
}

nav li a {
  color: inherit;
}

.robot-bio {
  padding: 0 30px;
  text-align: center;
}

.robot-bio li {
  margin: 20px auto 0 auto;
  width: 50%;
  background-color: #FEFCE8;
  border-radius: 5px;
  text-align: center;
  color: #3d2117;
}

.robot-bio a {
  color: inherit;
}

.robot-bio a:hover {
  color: #67C5C2;
  font-style: bold;
}

.robot-bio h2 {
  display: inline-block;
  font-size: 30px;
  width: 30%;
  padding: 10px;
}

.robot-bio p {
  display: inline-block;
  width: 30%;
}

.new-robot {
  text-align: center;
}

.new-robot p {
  font-size: 48px;
  color: #3d2117;
  margin: 10px
}

.new-robot input {
  margin: 10px;
  font-size: 40px;
  text-align: center;
  border: 4px solid #3d2117;
  border-radius: 5px;
  font-family: inherit;
  background-color: #FEFCE8;
  color: #67C5C2;
}

.new-robot input[type="submit"] {
  background-color: #3d2117;
  color: #FEFCE8;
}

.new-robot input[type="submit"]:hover {
  color: #67C5C2;
}

.robot-profile {
  text-align: center;
}

.robot-profile h2 {
  display: inline-block;
  clear: right;
  padding: 50px;
  line-height: 1em;
  margin: 20px auto;
  font-size: 64px;
  color: #FEFCE8;
  border: 5px dotted #67C5C2;
  border-radius: 50%;
}

.robot-profile h2 a {
  text-decoration: none;
  color: inherit;
}

.robot-profile h2 a:hover {
  text-decoration: underline;
  color: #3d2117;
}

.btn {
  clear: left;
  padding: 5px;
}

.btn form {
  display: inline-block;
  margin: auto 5px;
}

.btn form input[type="submit"] {
  font-family: inherit;
  /*font-size: 18px;*/
  background: #FEFCE8;
  color: #3d2117;
  display: inline-block;
  border-radius: 50%;
}

.btn form input[type="submit"]:hover {
  /*font-size: 18px;*/
  background: #3d2117;
  color: #FEFCE8;
}

.robot-profile p {
  width: 100%;
  background-color: #FEFCE8;
  color: #3d2117;
  margin: 20px auto;
  font-size: 32px;
}

footer {
  background: url("https://upload.wikimedia.org/wikipedia/commons/0/05/Robot_icon.svg");
  background-position: center;
  position: fixed;
  background-color: #3d2117;
  height: 48px;
  padding: 0 25px;
  left: 0px;
  bottom: 0px;
  width: 100%;
}