<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/application.css">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <title>Robot World</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
