<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link rel="stylesheet" href="/application.css">
    <title>Robot World</title>
  </head>
  <body>
    <header>
      <h1 id="index-header"><a href="/robots">Robot World</a></h1>
      <nav>
        <ul>
          <a href="/robots/new"><li>New Robot</li></a>
          <a href="/robots"><li>All Robots</li></a>
        </ul>
      </nav>
    </header>
    <div class="push"></div>
    <div class="container">
      <%= yield %>
    </div>
    <footer></footer>
  </body>
</html>
