<div class="new-robot">
  <form action="/robots" method="POST">
    <p>Tell us about this robot...</p><br/>
    <input type="text" name="robot[name]" value="Name" onclick='this.value = "";'><br/>
    <input type="text" name="robot[city]" value="City" onclick='this.value = "";'><br/>
    <input type="text" name="robot[state]" value="State" onclick='this.value = "";'><br/>
    <input type="text" name="robot[department]" value="Department" onclick='this.value = "";'><br/>
    <input type="submit" value="ROBOTIZE"><br/>
  </form>
</div>