<form action="/robots" method="POST">
  <p>Enter the robot's information</p><br/>
  Name:<input type="text" name="robot[name]"><br/>
  City:<input type="text" name="robot[city]"><br/>
  State:<input type="text" name="robot[state]"><br/>
  Department:<input type="text" name="robot[department]"><br/>
  <input type="submit" value="ROBOTIZE"><br/>
</form>